<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Novo Comando IR</title>
    {% include 'styles.html' %}
  </head>
  <body>
    <div class="grid min-h-screen w-full lg:grid-cols-[280px_1fr]">
      {% include 'sidebar.html' %}
      <div class="flex flex-col bg-gray-100">
        {% with title='Novo Comando IR' %} {% include 'header.html' %} {% endwith %}
        <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6 items-center">
          <div class="rounded-lg border shadow-lg bg-white w-10/12">
            <form class="p-4" method="post">
              <div class="grid gap-4">
                <div class="grid gap-2">
                  <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="model"
                    >Modelo do aparelho</label
                  ><input
                    class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    name="model"
                    placeholder="Insira modelo"
                    required
                  />
                </div>
                <div class="grid gap-2">
                  <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="raw_on"
                    >Comando RAW para ligar</label
                  ><textarea
                    class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex min-h-[80px] w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    name="raw_on"
                    placeholder="Comando para ligar"
                    required
                  ></textarea>
                </div>
                <div class="grid gap-2">
                  <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="raw_off"
                    >Comando RAW para desligar</label
                  ><textarea
                    class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex min-h-[80px] w-full rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                    name="raw_off"
                    placeholder="Comando para desligar"
                    required
                  ></textarea>
                </div>

                <button
                  class="ring-offset-background focus-visible:ring-ring bg-blue-700 text-primary-foreground hover:bg-primary/90 mt-4 inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md px-3 text-sm font-medium text-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                  type="submit"
                >
                  Salvar novo comando
                </button>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
