<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    {% include 'styles.html' %}
  </head>
  <body>
    <div class="grid min-h-screen w-full lg:grid-cols-[280px_1fr]">
      {% include 'sidebar.html' %}
      <div class="flex flex-col rounded-lg bg-gray-100 bg-opacity-40 backdrop-blur-lg backdrop-filter">
        {% with title='Admin' %} {% include 'header.html' %} {% endwith %}

        <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6">
          <div class="mb-4 flex items-center">
            <a class="text-blue-600 hover:underline" href="#" rel="ugc">Home</a
            ><span class="mx-2">/</span
            ><a class="text-blue-600 hover:underline" href="#" rel="ugc"
              >Admin</a
            >
          </div>
          <div class="flex items-center">
            <h2 class="text-lg font-semibold text-gray-900 md:text-2xl">Aparelhos</h2>
            <a
              class="ring-offset-background focus-visible:ring-ring hover:bg-primary/90 ml-auto inline-flex h-9 items-center justify-center whitespace-nowrap rounded-lg bg-blue-600 px-3 text-sm font-medium text-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
              href="{{ url_for('add_equipment') }}"
            >
              Adicionar Aparelho
            </a>
          </div>
          <div class="rounded-lg border bg-white shadow-lg">
            <div class="relative w-full overflow-auto">
              <table class="w-full caption-bottom text-sm">
                <thead class="[&amp;_tr]:border-b">
                  <tr
                    class="hover:bg-muted/50 data-[state=selected]:bg-muted border-b transition-colors"
                  >
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 h-12 w-[80px] px-4 text-left align-middle font-medium"
                    >
                      ID
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 h-12 max-w-[150px] px-4 text-left align-middle font-medium"
                    >
                      Bloco
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 hidden h-12 px-4 text-left align-middle font-medium md:table-cell"
                    >
                      Sala
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 hidden h-12 px-4 text-left align-middle font-medium md:table-cell"
                    >
                      Modelo
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 h-12 px-4 text-right align-middle font-medium"
                    >
                      Editar
                    </th>
                  </tr>
                </thead>
                <tbody class="[&amp;_tr:last-child]:border-0">
                  {% for equipment in equipment_list %}
                  <tr
                    class="hover:bg-muted/50 data-[state=selected]:bg-muted border-b transition-colors"
                  >
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 p-4 align-middle"
                    >
                      {{ equipment.id }}
                    </td>
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 p-4 align-middle font-medium"
                    >
                      {{ equipment.building }}
                    </td>
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 hidden p-4 align-middle md:table-cell"
                    >
                      {{ equipment.room }}
                    </td>
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 hidden p-4 align-middle md:table-cell"
                    >
                      {{ equipment.model }}
                    </td>
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 p-4 text-right align-middle"
                    >
                      <a
                        class="ring-offset-background focus-visible:ring-ring hover:bg-accent hover:text-accent-foreground inline-flex h-10 w-10 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                        href="{{ url_for('edit_equipment', equipment_id=equipment.id) }}"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="h-4 w-4"
                        >
                          <path
                            d="M4 13.5V4a2 2 0 0 1 2-2h8.5L20 7.5V20a2 2 0 0 1-2 2h-5.5"
                          ></path>
                          <polyline points="14 2 14 8 20 8"></polyline>
                          <path
                            d="M10.42 12.61a2.1 2.1 0 1 1 2.97 2.97L7.95 21 4 22l.99-3.95 5.43-5.44Z"
                          ></path>
                        </svg>
                        <span class="sr-only">Edit</span>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="flex items-center">
            <h2 class="text-lg font-semibold text-gray-900 md:text-2xl">
              Comandos Infravermelho
            </h2>
            <a
              class="ring-offset-background focus-visible:ring-ring hover:bg-primary/90 ml-auto inline-flex h-9 items-center justify-center whitespace-nowrap rounded-lg bg-blue-600 px-3 text-sm font-medium text-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
              href="{{ url_for('add_ir_command') }}"
            >
              Adicionar Comando IR
            </a>
          </div>
          <div class="rounded-lg border bg-white shadow-lg">
            <div class="relative w-full overflow-auto">
              <table class="w-full caption-bottom text-sm">
                <thead class="[&amp;_tr]:border-b">
                  <tr
                    class="hover:bg-muted/50 data-[state=selected]:bg-muted border-b transition-colors"
                  >
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 h-12 w-[80px] px-4 text-left align-middle font-medium"
                    >
                      ID
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 h-12 max-w-[150px] px-4 text-left align-middle font-medium"
                    >
                      Model
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 hidden h-12 px-4 text-left align-middle font-medium md:table-cell"
                    >
                      Comando RAW - Ligar
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 hidden h-12 px-4 text-left align-middle font-medium md:table-cell"
                    >
                      Comando RAW - Desligar
                    </th>
                    <th
                      class="text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 h-12 px-4 text-right align-middle font-medium"
                    >
                      Editar
                    </th>
                  </tr>
                </thead>
                <tbody class="[&amp;_tr:last-child]:border-0">
                  {% for ir_command in ir_commands %}
                  <tr
                    class="hover:bg-muted/50 data-[state=selected]:bg-muted border-b transition-colors"
                  >
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 p-4 align-middle"
                    >
                      {{ ir_command.id }}
                    </td>
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 p-4 align-middle font-medium"
                    >
                      {{ ir_command.model }}
                    </td>
                    <td
                      class="raw [&amp;:has([role=checkbox])]:pr-0 line-clamp-1 hidden p-4 align-middle md:table-cell"
                    >
                      {{ ir_command.raw_on.replace(',', ', ')[:30] + '...' }}
                      <!--Line clamp didn't work-->
                    </td>

                    <td
                      class="raw [&amp;:has([role=checkbox])]:pr-0 line-clamp-1 hidden p-4 align-middle md:table-cell"
                    >
                      {{ ir_command.raw_off.replace(',', ', ')[:30] + '...' }}
                      <!--Line clamp didn't work-->
                    </td>
                    <td
                      class="[&amp;:has([role=checkbox])]:pr-0 p-4 text-right align-middle"
                    >
                      <a
                        class="ring-offset-background focus-visible:ring-ring hover:bg-accent hover:text-accent-foreground inline-flex h-10 w-10 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                        href="{{ url_for('edit_ir_command', ir_command_id=ir_command.id) }}"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="h-4 w-4"
                        >
                          <path
                            d="M4 13.5V4a2 2 0 0 1 2-2h8.5L20 7.5V20a2 2 0 0 1-2 2h-5.5"
                          ></path>
                          <polyline points="14 2 14 8 20 8"></polyline>
                          <path
                            d="M10.42 12.61a2.1 2.1 0 1 1 2.97 2.97L7.95 21 4 22l.99-3.95 5.43-5.44Z"
                          ></path>
                        </svg>
                        <span class="sr-only">Editar</span>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
